<p id="notice"><%= notice %></p>

<p>
  <strong>Parcelnumber:</strong>
  <%= @parcel.parcelnumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parcel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parcel.address %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @parcel.weight %>
</p>


<p>
  <strong>isDelivery:</strong>
  <%= @parcel.isDelivery %>
</p>

<%= link_to 'Edit', edit_parcel_path(@parcel) %> |
<%= link_to 'Back', parcels_path %>
