<%= form_with(model: parcellist, local: true) do |form| %>
  <% if parcellist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parcellist.errors.count, "error") %> prohibited this parcellist from being saved:</h2>

      <ul>
      <% parcellist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parcelnumber %>
    <%= form.number_field :parcelnumber %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :isDelivery %>
    <%= form.check_box :isDelivery %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
