<p id="notice"><%= notice %></p>

<h1>Parcellists</h1>

<table>
  <thead>
    <tr>
      <th>Parcelnumber</th>
      <th>Name</th>
      <th>Address</th>
      <th>Weight</th>
      <th>Isdelivery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcellists.each do |parcellist| %>
      <tr>
        <td><%= parcellist.parcelnumber %></td>
        <td><%= parcellist.name %></td>
        <td><%= parcellist.address %></td>
        <td><%= parcellist.weight %></td>
        <td><%= parcellist.isDelivery %></td>
        <td><%= link_to 'Show', parcellist %></td>
        <td><%= link_to 'Edit', edit_parcellist_path(parcellist) %></td>
        <td><%= link_to 'Destroy', parcellist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parcellist', new_parcellist_path %>
