<p id="notice"><%= notice %></p>

<p>
  <strong>Parcelnumber:</strong>
  <%= @parcellist.parcelnumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parcellist.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parcellist.address %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @parcellist.weight %>
</p>

<p>
  <strong>Isdelivery:</strong>
  <%= @parcellist.isDelivery %>
</p>

<%= link_to 'Edit', edit_parcellist_path(@parcellist) %> |
<%= link_to 'Back', parcellists_path %>
