<%= form_with(model: airinfo, local: true) do |form| %>
  <% if airinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(airinfo.errors.count, "error") %> prohibited this airinfo from being saved:</h2>

      <ul>
      <% airinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :no %>
    <%= form.number_field :no %>
  </div>

  <div class="field">
    <%= form.label :date_t %>
    <%= form.datetime_select :date_t %>
  </div>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.text_field :temperature %>
  </div>

  <div class="field">
    <%= form.label :humid %>
    <%= form.text_field :humid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
