<p id="notice"><%= notice %></p>

<h1>Airinfos</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Date t</th>
      <th>Temperature</th>
      <th>Humid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airinfos.each do |airinfo| %>
      <tr>
        <td><%= airinfo.no %></td>
        <td><%= airinfo.date_t %></td>
        <td><%= airinfo.temperature %></td>
        <td><%= airinfo.humid %></td>
        <td><%= link_to 'Show', airinfo %></td>
        <td><%= link_to 'Edit', edit_airinfo_path(airinfo) %></td>
        <td><%= link_to 'Destroy', airinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airinfo', new_airinfo_path %>
