<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @airinfo.no %>
</p>

<p>
  <strong>Date t:</strong>
  <%= @airinfo.date_t %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @airinfo.temperature %>
</p>

<p>
  <strong>Humid:</strong>
  <%= @airinfo.humid %>
</p>

<%= link_to 'Edit', edit_airinfo_path(@airinfo) %> |
<%= link_to 'Back', airinfos_path %>
